.bold {
    font-weight: bold;
}

.name {
    width: 100%;
}

.url input {
    width: 90%;
}

.name[disabled] {
    border: none;
    background-color: transparent;
}

.row {
    padding: 0 10px;
}

.jumbotron {
    color: white;
    background-color: steelblue;
}